# Matrix Definitions ownership

*                               @ruslanmv
/.github/workflows/             @ruslanmv
/schemas/                       @ruslanmv
/industry/                      @ruslanmv
/ruslan/                        @ruslanmv
/matrixhub/                     @ruslanmv
/packs/                         @ruslanmv
/tools/                         @ruslanmv
/releases/                      @ruslanmv
